@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&family=Manrope:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}
nav {
  min-height: 4rem; /* matches h-16 */
  height: 4rem !important;
  max-height: 5rem; /* matches md:h-20 */
  font-size: 1rem;
  line-height: 1; /* prevents text shrinking */
}

:root {
  --font-geist-sans: ui-sans-serif, system-ui;
  --background: #eeeeee;
  --foreground: #eeeeee;
  --falcon-navy: #1e293b;
  --falcon-navy-light: #334155;
  --falcon-cyan: #06b6d4;
  --falcon-cyan-light: #89d4e0;
  --falcon-gold: #eab308;
  --falcon-gold-dark: #ca8a04;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #eeeeee;
  }
}
